.company-description {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: rgba($white, .5);
    text-align: left;

    @media all and (max-width: map-get($grid-breakpoints, "smd")) {
        & {
            font-size: 11px;
            line-height: 13px;
            text-align: center;
        }
    }

    @media all and (min-width: map-get($grid-breakpoints, "smd")+1) {
        & {
            font-size: 15px;
            line-height: 18px;
        }
    }
}
