
.site-header-container {
    max-width: 1920px;
    padding: 20px;
    margin: 0 auto;

    @media all and (min-width: map-get($grid-breakpoints, "md")-1) {
        & {
            padding: 28px 30px;
        }
    }

    @media all and (min-width: map-get($grid-breakpoints, "lg")) {
        & {
            padding: 35px 50px;
        }
    }

    @media all and (min-width: map-get($grid-breakpoints, "xl")) {
        & {
            padding: 48px 50px;
        }
    }
}
