.site-header-container {
    max-width: 1920px;
    padding: 20px;
    margin: 0 auto;

    @media all and (min-width: map-get($grid-breakpoints, "md")-1) {
        & {
            padding: 28px 30px;
        }
    }

    @media all and (min-width: map-get($grid-breakpoints, "lg")) {
        & {
            padding: 35px 50px;
        }
    }

    @media all and (min-width: map-get($grid-breakpoints, "xl")) {
        & {
            padding: 48px 50px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, "lg")-1) {
    .site-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 5px 0 5px rgba(0, 0, 0, .2);

        .admin-bar & {
            top: 32px;
        }
    }
}

@media all and (max-width: 783px) {
    .admin-bar .site-header {
        top: 46px;
    }
}


@media all and (max-width: 600px) {
    .admin-bar .site-header {
        top: 0;
    }
}
