.social-buttons {
    display: flex;

    &__item {
        position: relative;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: rgba(#F8F8F8, .07);
        border-radius: 6px;
        color: $white;
        transition: all .1s ease;
        font-size: 21px;
        display: flex;
        text-decoration: none;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover {
            color: $primary;
            text-decoration: none;
        }

        &:after {
            height: 100%;
            width: 0;
            content: '';
            display: inline-block;
            vertical-align: middle;
        }

        i {
            margin: auto;
        }
    }
}
