html {
  min-width: 320px;
  font-size: $font-size-base;
}

html, body {
  height: 100%;
}

body {
  background-color: $body-bg;
  font-family: $body-font;
  color: $body-color;
  padding: 0;;
}

.site-wrapper {
  min-height: 100%;
  display: grid;
  grid-template:  auto 1fr auto / 1fr;
}

.secondary-bg {
  background-color: $secondary-bg;
}

.with-gutter {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.footer-with-gutter {
  padding-top: 40px;
  padding-bottom: 40px;
}
