{% include './layout/header.twig' %}

  <div class="slider owl-carousel owl-site-theme">
    <div class="slider__item">
      <div class="owl-text">
        <div class="owl-text__item owl-text__item--title">Ножничные подъемники</div>
        <div class="owl-text__item owl-text__item--body">Компактность и надежность</div>
      </div>
      <figure class="owl-image">
        <img src="./data/slide1.jpg" alt="slide1">
      </figure>
    </div>
    <div class="slider__item">
      <div class="owl-text">
        <div class="owl-text__item owl-text__item--title">Ножничные подъемники</div>
        <div class="owl-text__item owl-text__item--body">Компактность и надежность</div>
      </div>
      <figure class="owl-image">
        <img src="./data/slide1.jpg" alt="slide1">
      </figure>
    </div>
  </div>

{% include './layout/bottom.twig' %}
