{% include './layout/header.twig' %}

  <section class="slider owl-carousel owl-site-theme">
    <div class="slider__item">
      <div class="owl-text">
        <div class="owl-text__item owl-text__item--title">Ножничные подъемники</div>
        <div class="owl-text__item owl-text__item--body">Компактность и надежность</div>
      </div>
      <div class="owl-image" style="background-image: url(./data/slide1.jpg);"></div>
    </div>
    <div class="slider__item">
      <div class="owl-text">
        <div class="owl-text__item owl-text__item--title">Ножничные подъемники</div>
        <div class="owl-text__item owl-text__item--body">Компактность и надежность</div>
      </div>
      <div class="owl-image" style="background-image: url(./data/slide1.jpg);"></div>
    </div>
  </section> <!-- .slider -->

  <div class="with-gutter">
    <section class="container p-0">
      <div class="company-advantages-wrapper white-layer white-layer--with-shadow text-center">
          <div class="company-advantages-title">Почему выбирают нас?</div>
          <div class="company-advantages d-flex justify-content-around">
            <div class="company-advantages__item">
              <div class="company-advantage">
                <div class="company-advantage__item company-advantage__item--icon">
                  <img src="./images/like.svg" alt="like">
                </div>
                <div class="company-advantage__item company-advantage__item--title">Гарантия качества!</div>
              </div>
            </div>
            <div class="company-advantages__item">
              <div class="company-advantage">
                <div class="company-advantage__item company-advantage__item--icon">
                  <img src="./images/purse.svg" alt="purse">
                </div>
                <div class="company-advantage__item company-advantage__item--title">Выгодные цены!</div>
              </div>
            </div>
            <div class="company-advantages__item">
              <div class="company-advantage">
                <div class="company-advantage__item company-advantage__item--icon">
                  <img src="./images/check.svg" alt="check">
                </div>
                <div class="company-advantage__item company-advantage__item--title">Техника в наличии!</div>
              </div>
            </div>
          </div>
      </div>
    </section> <!-- .company-advantages-wrapper -->
  </div>

  <section class="with-gutter" id="block1">
    <div class="container p-0">
      <div class="page-content page-content--with-padding text-center">
        <h1 class="page-content__title">Ножничные подъемники</h1>
        <div class="page-content__body">
          <h3 class="page-content__subtitle">Преимущества применения ножничного подъемника</h3>
          <p>
            Данный вид оборудования имеет преимущества, не присущие другим типам устройств. В частности, речь идет о компактности и надежности устройства - ножничный подъемник приводится в действие при помощи перекрестных рычагов, осуществляющих подъем и опускание платформы четко в вертикальной плоскости. Благодаря этому установкам требуется минимум места, благодаря чему они активно применяются в помещениях, отличающихся нетипичный планировкой и на небольших территориях. Подъемное оборудование ножничного типа может применяться для выполнения внутренних и наружных работ, подъема строительных материалов и инструментов.
          </p>
        </div>
      </div> <!-- .page-content -->
    </div>
  </section>

  <div class="with-gutter">
    <section class="container p-0">
      <div class="company-products">
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </section> <!-- .company-products -->
  </div>

  <section class="with-gutter" id="block2">
    <div class="container p-0">
      <div class="company-products-title">Мачтовые подъемники</div>
      <div class="company-products owl-carousel owl-theme owl-products">
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .company-products -->
  </section>

  <section class="company-about-wrapper" id="block4">
    <div class="company-about">
      <div class="company-about__text">
        <div class="company-about-title">О нашей компании</div>
        <div class="company-about-body">
          <p>Вас приветствует компания ООО "МЕГАТРАНС".</p>

          <p>Наша компания является эксклюзивным представителем грузоподъемной техники 3J TECH CO LTD (Ю.Корея) в России, итальянского производителя MERLO (Италия) по телескопическим погрузчикам, а так же итальянского производителя Venieri по дальневосточному округу.</p>

          <p>Линейка подъемников 3J TECH CO LTD включает в себя: самоходные электрические ножничные подъемники от 6 до 14 метров. Подъемники имеют Сертификат Соответствия Гост Р. Наша продукция является лидером среди корейских производителей строительной техники.</p>

          <p>Линейка телескопических подъемников MERLO включает в себя такие модели как
          COMPACTS, TURBOFARMER, MULTIFARMER, PANORAMIC, ROTO. Вся продукция сертифицирована.
          MERLO – является неоспоримым лидером среди производителей телескопических погрузчиков.</p>

          <p>Линейка VENIERI включает в себя: фронтальные погрузчики, экскаваторы-погрузчики, а так же компактные погрузчики.</p>
        </div>
      </div>

      <div class="company-about__certificate white-layer white-layer--with-shadow">
        <div class="company-about-certificate-title">
          <div class="company-about-certificate-icon">
            <img src="./images/certificate.svg" alt="certificate">
          </div>
          Сертификат официального дилера
        </div>
        <div class="company-about-certificate-image gallery">
          <a href="./data/certificate.jpg" data-size="459x325">
            <img src="./data/certificate.jpg" alt="certificate">
          </a>
        </div>
      </div>

    </div>
  </section> <!-- .company-about-wrapper -->

  <section class="with-gutter" id="block5">
    <div class="container p-0">
      <div class="company-contacts-title">Контакты</div>
      <div class="company-contacts-container">
        <div class="company-contacts-container__item">
          <div class="company-contacts">
            <div class="company-contacts__item">
              <div class="company-contacts__city">г. Владивосток</div>
              <div class="company-contacts__address">
                690001, Приморский край, г. Владивосток, ул Металлистов 5, офис №022
              </div>
              <div class="company-contacts__phone">
                <div><a href="tel:+7(423)280-98-68">+ 7 (423) 280-98-68</a></div>
              </div>
{#              <div class="company-contacts__worktime">#}
{#                Прием звонков:#}
{#                <div>с 9:00 до 21:00 (Пн-Пт)</div>#}
{#              </div>#}
              <div class="company-contacts__email">
                <div><a href="mailto:email@test.com">email@test.com</a></div>
              </div>
            </div>
            <div class="company-contacts__item">
              <div class="company-contacts__city">г. Москва</div>
              <div class="company-contacts__address">
                690001, Приморский край, г. Владивосток, ул Металлистов 5, офис №022
              </div>
              <div class="company-contacts__phone">
                <div><a href="tel:+7(423)280-98-68">+ 7 (423) 280-98-68</a></div>
              </div>
{#              <div class="company-contacts__worktime">#}
{#                Прием звонков:#}
{#                <div>с 9:00 до 21:00 (Пн-Пт)</div>#}
{#              </div>#}
              <div class="company-contacts__email">
                <div><a href="mailto:email@test.com">email@test.com</a></div>
              </div>
            </div>
            <div class="company-contacts__item">
              <div class="company-contacts__city">Казахстан</div>
              <div class="company-contacts__address">
                690001, Приморский край, г. Владивосток, ул Металлистов 5, офис №022
              </div>
              <div class="company-contacts__phone">
                <div><a href="tel:+7(423)280-98-68">+ 7 (423) 280-98-68</a></div>
              </div>
{#              <div class="company-contacts__worktime">#}
{#                Прием звонков:#}
{#                <div>с 9:00 до 21:00 (Пн-Пт)</div>#}
{#              </div>#}
              <div class="company-contacts__email">
                <div><a href="mailto:email@test.com">email@test.com</a></div>
              </div>
            </div>
          </div>
        </div> <!-- .company-contacts -->
{#        <div class="company-contacts-container__item">#}
{#          <div class="company-contact-map white-layer">#}
{#            <img src="./data/map.jpg" alt="map">#}
{#          </div>#}
{#        </div>#}

      </div> <!-- .company-contacts-container -->
    </div>
  </section>

{% include './layout/bottom.twig' %}
