{% include './layout/header.twig' %}

  <section class="slider owl-carousel owl-site-theme">
    <div class="slider__item">
      <div class="owl-text">
        <div class="owl-text__item owl-text__item--title">Ножничные подъемники</div>
        <div class="owl-text__item owl-text__item--body">Компактность и надежность</div>
      </div>
      <div class="owl-image" style="background-image: url(./data/slide1.jpg);"></div>
    </div>
    <div class="slider__item">
      <div class="owl-text">
        <div class="owl-text__item owl-text__item--title">Ножничные подъемники</div>
        <div class="owl-text__item owl-text__item--body">Компактность и надежность</div>
      </div>
      <div class="owl-image" style="background-image: url(./data/slide1.jpg);"></div>
    </div>
  </section> <!-- .slider -->

  <div class="with-gutter">
    <section class="container p-0">
      <div class="company-advantages-wrapper white-layer white-layer--with-shadow text-center">
          <div class="company-advantages-title">Почему выбирают нас?</div>
          <div class="company-advantages d-flex justify-content-around">
            <div class="company-advantages__item">
              <div class="company-advantage">
                <div class="company-advantage__item company-advantage__item--icon">
                  <img src="./images/like.svg" alt="like">
                </div>
                <div class="company-advantage__item company-advantage__item--title">Гарантия качества!</div>
              </div>
            </div>
            <div class="company-advantages__item">
              <div class="company-advantage">
                <div class="company-advantage__item company-advantage__item--icon">
                  <img src="./images/purse.svg" alt="purse">
                </div>
                <div class="company-advantage__item company-advantage__item--title">Выгодные цены!</div>
              </div>
            </div>
            <div class="company-advantages__item">
              <div class="company-advantage">
                <div class="company-advantage__item company-advantage__item--icon">
                  <img src="./images/check.svg" alt="check">
                </div>
                <div class="company-advantage__item company-advantage__item--title">Техника в наличии!</div>
              </div>
            </div>
          </div>
      </div>
    </section> <!-- .company-advantages-wrapper -->
  </div>

  <section class="with-gutter">
    <div class="container p-0">
      <div class="page-content page-content--with-padding text-center">
        <h1 class="page-content__title">Ножничные подъемники</h1>
        <div class="page-content__body">
          <h3 class="page-content__subtitle">Преимущества применения ножничного подъемника</h3>
          <p>
            Данный вид оборудования имеет преимущества, не присущие другим типам устройств. В частности, речь идет о компактности и надежности устройства - ножничный подъемник приводится в действие при помощи перекрестных рычагов, осуществляющих подъем и опускание платформы четко в вертикальной плоскости. Благодаря этому установкам требуется минимум места, благодаря чему они активно применяются в помещениях, отличающихся нетипичный планировкой и на небольших территориях. Подъемное оборудование ножничного типа может применяться для выполнения внутренних и наружных работ, подъема строительных материалов и инструментов.
          </p>
        </div>
      </div> <!-- .page-content -->
    </div>
  </section>

  <div class="with-gutter">
    <section class="container p-0">
      <div class="company-products">
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </section> <!-- .company-products -->
  </div>

  <section class="with-gutter">
    <div class="container p-0">
      <div class="company-products-title">Мачтовые подъемники</div>
      <div class="company-products owl-carousel owl-theme owl-products">
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="company-products__item">
          <div class="company-product">
            <div class="company-product__image">
              <img src="./data/product.jpg" alt="product">
            </div>
            <div class="company-product__name">J-21</div>

            <div class="company-product__setting">
              Максимальная грузоподъемность: <strong>275</strong>
            </div>
            <div class="company-product__setting">
              Рабочая высота: <strong>6.6</strong>
            </div>
            <div class="company-product__button">
              <a class="btn w-100 border-0 bg-white btn-primary-hover-gradient" href="#">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .company-products -->
  </section>
{% include './layout/bottom.twig' %}
