{% include './layout/header.twig' %}

<section class="with-gutter">
    <div class="container p-0">
        <div class="page-product">
            <div class="page-product-title">Ножничный подъемник JC-21</div>

            <div class="page-product-container">
                <div class="page-product-container__item">
                    <div class="page-product-image white-layer white-layer--with-shadow">
                        <img src="./data/page-product.jpg" alt="product">
                    </div>
                </div>

                <div class="page-product-container__item flex-fill">
                    <div class="page-product-details-wrapper white-layer white-layer--with-shadow">
                        <div class="page-product-details-title">Техническая информация</div>
                        <div class="page-product-details">
                            <div class="page-product-details__item">
                                <div class="page-product-detail">
                                    <div class="page-product-detail__title">Максимальная рабочая высота:</div>
                                    <div class="page-product-detail__body">6,6 метра</div>
                                </div>
                            </div>
                            <div class="page-product-details__item">
                                <div class="page-product-detail">
                                    <div class="page-product-detail__title">Максимальная рабочая высота:</div>
                                    <div class="page-product-detail__body">6,6 метра</div>
                                </div>
                            </div>
                            <div class="page-product-details__item">
                                <div class="page-product-detail">
                                    <div class="page-product-detail__title">Максимальная рабочая высота:</div>
                                    <div class="page-product-detail__body">6,6 метра</div>
                                </div>
                            </div>
                            <div class="page-product-details__item">
                                <div class="page-product-detail">
                                    <div class="page-product-detail__title">Максимальная рабочая высота:</div>
                                    <div class="page-product-detail__body">6,6 метра</div>
                                </div>
                            </div>
                            <div class="page-product-details__item">
                                <div class="page-product-detail">
                                    <div class="page-product-detail__title">Максимальная рабочая высота:</div>
                                    <div class="page-product-detail__body">6,6 метра</div>
                                </div>
                            </div>
                            <div class="page-product-details__item">
                                <div class="page-product-detail">
                                    <div class="page-product-detail__title">Максимальная рабочая высота:</div>
                                    <div class="page-product-detail__body">6,6 метра</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include './layout/bottom.twig' %}
