<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>MEGADV</title>
</head>

<body>


<div class="site-wrapper">

  <header class="site-header secondary-bg">
    <div class="site-header-container d-flex justify-content-between">
      <div class="site-header-container__item d-lg-none" href="#">
        <a href="#" class="site-navigation-button"></a>
      </div>
      <div class="site-header-container__item d-xl-flex flex-fill align-items-center">
        <a href="#" class="company-logo">Megat-dv.ru</a>
        <div class="company-description">Продажа грузоподъемного оборудования</div>
      </div>
      <div class="site-header-container__item d-flex flex-column flex-xl-row align-items-end align-items-xl-center">
        <div class="company-phone">
          <div class="company-phone__item">
            <a href="tel:+7(423)280-98-68">+ 7 (423) 280-98-68</a>
          </div>
        </div>
        <div class="company-email d-flex flex-column flex-lg-row align-items-end">
          <div class="company-email__item company-email__item--title">Отдел продаж 3J TECH и Venieri:</div>
          <div class="company-email__item company-email__item--body">
            <a href="mailto:sales@megat-dv.ru">sales@megat-dv.ru</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="site-navigation-wrapper">
      <div class="site-navigation-buttons">
        <div class="site-navigation-buttons__menu"></div>
        <a href="#" class="site-navigation-buttons__close"></a>
      </div>
      <div class="site-navigation">
        <a class="site-navigation__item" href="#">Ножничные подъемники</a>
        <a class="site-navigation__item" href="#">Мачтовые подъемники</a>
        <a class="site-navigation__item" href="#">Аренда</a>
        <a class="site-navigation__item" href="#">О компании</a>
        <a class="site-navigation__item" href="#">Контакты</a>
      </div>
    </nav>
  </header> <!-- site-header -->

  <div class="site-content">
